@font-face {
    font-family: gotham;
    src: url(/font/GothamMedium.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gotham';
}
body {
    
    height: fit-content;
    position: relative;
    background-color: #0B0754;
    /* background: linear-gradient(135deg, #6D86EA, #DDE8FD, #FC9B99, #fca7a5);
    animation: animat 10s ease-in-out infinite;
    background-size: 300% 300%; */
}
/* @keyframes animat {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
} */
main
{
    padding-bottom: 60px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px 0 80px;
    align-items: center;
}

header h1 {
    cursor: pointer;
    color: white;
}

header li {
    list-style: none;
    display: flex;
    gap: 20px;
    text-transform: uppercase;
}

header li ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 16px;
}

header li ul a:hover,.active{
    color: #0B0754;
    background-color: white;
    border-radius: 100vh;
}

.pictures
{
    text-align: center;
}
h2
{
    color: white;
    margin-block: 40px;
    text-align: center;
}
.card div img
{
    width: 100%;
}
.card
{
    border-radius: 3vh;
    padding: 30px;
    text-align: center;
    flex-direction: column;
    background-color: white;
    margin:auto;
    width: 75vw;
}
.card .cardLinks a
{
    text-transform: uppercase;
    text-decoration: none;
}

.cardLinks
{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.simuler
{
    border-radius: 2vh;
    border: 4px solid #0B0754;
    background-color: #0B0754;
    color: white;
    padding: 12px;
}

.compo
{
    padding: 12px;
    border-radius: 2vh;
    border: 4px solid #0B0754; 
    color: #0B0754;
}

.simuler:hover
{
    background-color: white;
    color: #0B0754;
}

h3
{
    color: white;
    padding-block: 16px;
    border-bottom: 4px solid white;
    width: fit-content;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 24px;
    text-transform: uppercase;
}

section{
    margin-inline: 3%;
    font-size: 24px;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    row-gap: 40px;
    padding-bottom: 100px;
}
section div img
{
    width :50%;
}
.redui
{
    width: 15%;
}

hr
{
    background-color: white;
    height: 4px;
    grid-column: span 2;
}

.paragraphe
{
    line-height: 36px;
}


canvas {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #0B0754;
    z-index: -10000;
}
.copyright {
    padding: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(180, 180, 180);
    font-size: 16px;
}

@media screen and (max-width : 1050px) {

    .copyright {
        font-size: 8px;
    }

    html {
        overflow-x: hidden;
    }

    main {
        position: relative;
        overflow-x: hidden;
    }

    main #particles-js h2 {
        font-size: 24px;
    }

    .paragraphe {
        font-size: 20px;
        line-height: 30px;
    }

    #particles-js h3 {
        font-size: 24px;
        padding-bottom: 8px;
    }

    main header h1 {
        font-size: 24px;
    }

    section {
        margin: 0;
        padding: 0% 10% 10% 10%;
        padding-top: 30px;
        border-radius: 2vh;
        color: white;
        background-color: transparent;

    }

    .active {
        color: #3c33e8;
        background-color: none;
        padding-block: 8px;
    }


    header li {
        background-color: white;
    }

    header li ul a {
        color: #0B0754;
    }

    .simuler,
    .compo {
        font-size: 12px;
        padding: 4px;
        border: 2px solid #0B0754
    }

    section div img {
        width: 75%;
    }

    .redui {
        width: 75%;
    }

    .forvid {
        flex-direction: column;
        margin: 2%;
    }

    .forvid div {
        justify-self: flex-start;
        align-self: center;
        text-align: center;
    }
        #particles-js div h4 {
            font-size: 32px;
        }

}
